@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 210 40% 98%;
  --foreground: 240 10% 4%;
  --muted: 210 40% 96%;
  --muted-foreground: 240 4% 46%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 4%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 4%;
  --border: 215 32% 92%;
  --input: 215 32% 92%;
  --primary: 216 98% 52%;
  --primary-foreground: 211 100% 99%;
  --secondary: 216 12% 15%;
  --secondary-foreground: 0 0% 98%;
  --accent: 210 40% 96%;
  --accent-foreground: 24 10% 10%;
  --destructive: 0 85% 60%;
  --destructive-foreground: 0 0% 98%;
  --success: 146 62% 40%;
  --success-foreground: 212 40% 98%;
  --ring: 215 32% 92%;
  --radius: 0.5rem;
}

.dark {
  --background: 240 10% 4%;
  --foreground: 0 0% 98%;
  --muted: 240 4% 16%;
  --muted-foreground: 240 5% 65%;
  --popover: 240 10% 4%;
  --popover-foreground: 0 0% 98%;
  --card: 240 10% 4%;
  --card-foreground: 0 0% 98%;
  --border: 240 4% 16%;
  --input: 240 4% 16%;
  --primary: 216 98% 52%;
  --primary-foreground: 211 100% 99%;
  --secondary: 240 4% 16%;
  --secondary-foreground: 0 0% 98%;
  --accent: 240 4% 16%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 63% 31%;
  --destructive-foreground: 0 0% 98%;
  --success: 146 62% 40%;
  --success-foreground: 212 40% 98%;
  --ring: 240 5% 84%;
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}
